body{
    background:#d3ecbc;
    color:#fff;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#ffd7dc;
    color:#fff;
}

.menu{
    background-color:#d3ecbc;
    height:50px;
    line-height:50px;
    position:relative;
    width:90%;
    margin:0 auto;
    padding:0 auto;
}

.jarak{
    padding:0 2pc;
}

.menu ul {
    list-style:none;
}

.menu ul li a {
    float:left;
    width:70px;
    display:block;
    text-align:center;
    color:#FFF;
    text-decoration:none;
}

.menu ul li a:hover {
    background-color:#b1d697;
    display:block;
}





